body{
  background-image: url(../images/bg.jpg);
  background-position:top;
  background-size:cover;
  background-repeat: no-repeat;
}
#header{
  background-color: rgba(255 , 255, 255, 0.1);
  text-align: center;
  padding: 80px 0px 20px;
}
#logoimg{
  padding-left: 20px;
  padding-top: 16px;
  float: left;
  text-align: center;
  width: 40px;
  height: auto;
}
nav {
    font-size: 1.8rem;
    font-weight: bolder;
    background-color: #ea5b0c;
    text-align: center;
}
nav li {
    list-style-type: none;
    display: inline;
    margin: 0 40px;
}
nav li:last-child {
    margin: 0 70px 0 10px;
}
nav li a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding: 20px 0;
}
nav li:hover {    border-bottom: solid 3px black;
}
nav a:hover {
    color: white;
}
#main {
  margin-top: 20px;
}
#slidespace {
  float: left;
}
#article1 {

  float: right;
width: 24%;
background-color: rgba(255 , 255, 255, 0.5);
}
#article1 img {
  width: 100%;
}
#titlespace {
  background-color: #ea5b0c;
  text-align: center;
}
#titlespace2 {
  background-color: #ea5b0c;
  text-align: center;
}
.centerp {
  text-align: center;
}
.bolder {
  font-weight: bold;
}
#news1 {
  background-color: rgba(255 , 255, 255, 0.5);
}
.mleft2 {
  margin-left: 2%;
}
.mleft1{
  margin-left:1%;
}
#news1img {
  margin-left: 1%;
  width: 40%;
}
#news1button {
  background-color: #ea5b0c;
  color: black;
  margin-left: 100px;
  margin-bottom: 10px;
}
#leesmeer1 {
  display: none;
}
table{
	margin-right:10px;
}
#contact {
	background-color: rgba(255 , 255, 255, 0.5);
	text-align:center;
}
.centerp2{
	margin:0 15%;
}
#submit{
	border:black solid 1px;
	color:black;
}



